h1 {
  margin: 0;

  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  font-family: $ff-main;
  color: #5dbc79;
  text-transform: uppercase;
  letter-spacing: .025em;

  @media (max-width: $md) {
    font-size: 24px;
  }
}

h2 {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;

  @media (max-width: $md) {
    font-size: 18px;
  }
}

// .title-1 {
//   margin: 0;

//   font-weight: 700;
//   font-size: 48px;
//   line-height: 1;
//   font-family: $ff-main;
//   color: #5dbc79;
//   text-transform: uppercase;
//   letter-spacing: .025em;

//   @media (max-width: $md) {
//     font-size: 24px;
//   }
// }

.title-2 {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;
  text-transform: uppercase;

  @media (max-width: $md) {
    font-size: 18px;
  }
}
