
.add-cart {
  display: flex;
  margin-top: 35px;

  @media (max-width: $xl) {
    margin-top: 50px;
  }

  @media (max-width: $lg) {
    margin: 30px 15px 20px;
  }

  @media (max-width: $md) {
    margin: 23px 0 0;
  }
}

.add-cart__count {
  display: flex;
  align-items: center;

  @media (max-width: $lg) {
    margin-right: 25px;
  }

  @media (max-width: $md) {
    margin-right: 7px;
  }
}

.add-cart__count-num {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 10px 42px;
  width: 94px;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  font-family: $ff-main;
  color: #232634;

  background-color: #f8f8f8;
  border: 1px solid rgb(211, 211, 211);

  @media (max-width: $lg) {
    margin-right: 0;
  }
}

.add-cart__count-control {
  display: flex;
  flex-direction: column;
  margin-right: 12px;

  @media (max-width: $lg) {
    margin-right: 0;
  }
}

.add-cart__count-control .active {
  color: #5dbc79;
}

.add-cart__count-btn {
  // padding: 10px 14px;
  width: 44px;
  height: 22px;
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 0;
  font-family: $ff-main;
  color: #cbcbcb;

  background-color: #f8f8f8;
  border: 1px solid rgb(211, 211, 211);

  @media (max-width: $lg) {
    height: 44px;
  }
}


.add-cart__cost {
  display: flex;
  align-items: center;
  margin-right: 48px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  color: #539b68;

  @media (max-width: $xl) {
    margin-right: 39px;
  }

  @media (max-width: $lg) {
    margin-right: 30px;
  }

  @media (max-width: $md) {
    margin-right: 0;

    font-size: 18px;
  }
}

.add-cart__wrap-btn {
  display: block;

  @media (max-width: $md) {
    display: none;
  }
}

.add-cart__btn {
  min-width: 176px;
  padding: 12px 20px;

  font-size: 18px;
}
