.card {
  display: flex;
  flex-direction: column;

  &:hover {
    text-decoration: none;
  }

  &--new {
    position: relative;

    &::after {
      content: "NEW";
      position: absolute;
      top: 10px;
      right: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 40px;

      font-weight: 700;
      font-size: 18px;
      line-height: 1.2;
      font-family: $ff-main;
      color: #fff;
      text-transform: uppercase;

      background-color: $c-accent;

      @media (max-width: $lg) {
        top: 13px;
      }


      @media (max-width: $md) {
        top: 6px;
        right: 6px;

        width: 44px;
        height: 30px;

        font-size: 15px;
      }
    }
  }

  &--list {
    flex-direction: row;
    width: 100%;

    @media (max-width: $lg) {
      width: 100%;
      margin-bottom: 20px;
    }

    @media (max-width: $md) {
      width: 100%;
    }

    &:hover {
      background-color: rgba(102, 102, 102, .5);

      .card__cost {
        color: #fff;
      }

      .card__buy-btn {
        background-color: $c-red;
      }
    }

    &::after {
      top: 20px;
      right: 76%;

      @media (max-width: $lg) {
        right: 71%;
      }

      @media (max-width: $md) {
        right: 51%;
      }
    }

    .card__title,
    .card__available,
    .card__cost {
      @media (max-width: $lg) {
        padding-left: 15px;
      }

      @media (max-width: $md) {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}

.card--list.card--not {
  &:hover {
    background-color: transparent;

    .card__cost {
      color: $c-accent;
    }

    .card__buy-btn {
      background-color: #f8f8f8;
    }
  }
}

.card__wrap-img {
  position: relative;

  height: 255px;
  margin-bottom: 16px;

  border: 1px solid rgb(211, 211, 211);

  @media (max-width: $xl) {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  @media (max-width: $md) {
    margin-bottom: 5px;
  }

  .card--list & {
    width: 25%;
    height: 260px;
    margin-bottom: 0;

    @media (max-width: $lg) {
      width: 30%;
    }

    @media (max-width: $md) {
      width: 50%;
    }
  }
}

.card__wrap-img img {
  margin: 0 auto;

  .card--list & {
    @media (max-width: $md) {
      height: 210px;
      margin-bottom: auto;
    }

    @media (max-width: 456px) {
      height: auto;
    }
  }
}

.card__wrap-info {
  display: flex;
  flex-direction: column;

  .card--list & {
    width: calc(100% - 25%);
    padding: 15px 0 15px 30px;

    border: 1px solid rgb(211, 211, 211);

    @media (max-width: $lg) {
      justify-content: space-between;
      width: calc(100% - 30%);
      padding: 0;
      padding-top: 15px;
    }

    @media (max-width: $md) {
      width: 50%;
    }
  }
}

.card__desc {
  display: none;
  .card--list & {
    display: inline-block;
    flex-grow: 1;
    margin: 0;

    font-weight: 400;
    font-size: $fz-main;
    line-height: 1.2;
    font-family: $ff-main;
    color: #666;

    @media (max-width: $lg) {
      display: none;
    }
  }
}

.card__available {
  display: none;
  .card--list & {
    display: inline-block;
    margin-bottom: 15px;

    font-weight: 400;
    font-size: $fz-main;
    line-height: 1.2;
    font-family: $ff-main;
    color: $c-accent;

    &--not {
      color: $c-red;
    }
  }
}

.card__img-buy {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 0 20px 25px;

  background-color: rgba(102, 102, 102, .5);
  visibility: hidden;
  opacity: 0;

  .card__wrap-img:hover & {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: $xl) {
    position: relative;
    top: 1px;

    align-items: flex-end;
    height: auto;
    margin-top: auto;
    padding: 0;

    background-color: transparent;
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: $lg) {
    flex-direction: column;
    margin-top: 13px;
  }

  @media (max-width: $md) {
    margin-top: 0;
  }

  .card--list & {
    position: relative;

    justify-content: flex-start;
    height: auto;
    padding: 0;

    background-color: transparent;
    visibility: visible;
    opacity: 1;

    @media (max-width: $lg) {
      flex-direction: row;
    }
  }
}

.card__cart {
  position: relative;

  width: 44px;
  height: 44px;
  margin-right: 5px;

  background-color: $c-main;
  cursor: pointer;

  @media (max-width: $xl) {
    margin-right: 0;

    background-color: #232634;
  }

  @media (max-width: $lg) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
  }


  @media (max-width: $md) {
    height: 40px;
    margin-bottom: 1px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 29px;
    height: 29px;

    background: url("../img/icon/add-cart.png") no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%);

    @media (max-width: $lg) {
      left: 24%;

      width: 39px;
      height: 39px;

      background: url("../img/icon/add-cart-big.png") no-repeat;
    }

    @media (max-width: $md) {
      left: 22%;

      width: 29px;
      height: 29px;

      background: url("../img/icon/add-cart.png") no-repeat;
    }
  }

  .card--list & {
    @media (max-width: $lg) {
      height: 48px;
    }
  }

  .card--list &::after {
    @media (max-width: $lg) {
      left: 40px;
    }
  }
}

.card__cart-text {
  display: none;

  @media (max-width: $lg) {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 60px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    font-family: $ff-main;
    color: #fff;
    text-transform: uppercase;
  }

  @media (max-width: $md) {
    padding-left: 35px;

    font-size: 15px;
  }

  .card--list & {
    @media (max-width: $lg) {
      padding-left: 45px;
    }
  }
}

.card__buy-btn {
  min-width: 165px;
  height: 44px;
  padding: 12px;

  font-size: 18px;

  @media (max-width: $xl) {
    background-color: $c-accent;
  }

  @media (max-width: $lg) {
    width: 100%;
    height: 60px;
  }

  @media (max-width: $md) {
    min-width: 100%;
    height: 40px;

    font-size: 15px;
  }

  .card--list & {
    background-color: $c-accent;

    &--disabled {
      color: #ccc;

      background-color: #f8f8f8;
    }

    @media (max-width: $lg) {
      height: 48px;
    }
  }
}

.card__cart-word {
  @media (max-width: $lg) {
    white-space: pre-wrap;
  }

  @media (max-width: $md) {
    display: none;
  }
}

.card__title {
  flex-grow: 1;
  margin-bottom: auto;

  font-weight: 700;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $md) {
    font-size: 14px;
  }

  .card--list & {
    flex-grow: 0;
    margin-bottom: 30px;

    @media (max-width: $md) {
      margin-bottom: 0;
    }
  }
}

.card__title-module {
  font-weight: 400;
  color: #666;
}

.card__cost {
  margin-top: 20px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-accent;

  @media (max-width: $md) {
    font-size: 18px;
  }

  .card--list & {
    margin-top: 0;
    margin-bottom: 20px;

    @media (max-width: $lg) {
      margin-bottom: 0;
    }
  }
}
