.catalog {
  margin-bottom: 75px;

  @media (max-width: $md) {
    margin-bottom: 35px;
  }
}

.catalog__wrap {
  display: none;

  &--active {
    display: flex;
  }
}

.catalog__insert {
  background: url("../img/bc/catalog.png") no-repeat center center;
  background-size: cover;
}

.catalog__filter {
  margin-bottom: 30px;
}

.catalog__wrap.row {
  @media (max-width: $md) {
    margin: 0 !important;
  }
}

.catalog__card {
  // width: $c-3;
  width: calc(20% - 30px);
  margin-bottom: 45px;

  @media (max-width: $lg) {
    width: $c-6;
    margin-bottom: 36px;
  }

  @media (max-width: $md) {
    width: calc(50% - 10px);
  }
}

.catalog__card.col {
  @media (max-width: $md) {
    margin: 0 5px 30px;
  }
}

.catalog__text {
  margin: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $md) {
    font-size: 14px;
  }

  &:first-child {
    margin-bottom: 17px;
  }

  &:nth-child(2) {
    margin-bottom: 40px;

    @media (max-width: $md) {
      display: none;
    }
  }
}

.catalog__pagination {
  margin-top: 28px;
}
