.checkout {
  margin-bottom: 75px;

  @media (max-width: $lg) {
    margin-bottom: 60px;
  }

  @media (max-width: $md) {
    margin-bottom: 35px;
  }
}

.checkout__title {
  margin-bottom: 20px;

  @media (max-width: $md) {
    font-size: 24px;
  }
}

.checkout__form {
}
.checkout__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px !important;

  @media (max-width: $md) {
    margin: 0 !important;
  }
}

.checkout__col {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 30px);
  margin: 0 15px;

  @media (max-width: $lg) {
    width: calc(100% / 2 - 30px);
  }

  @media (max-width: $md) {
    width: 100%;
    margin: 0;
  }

  &:last-child {
    @media (max-width: $lg) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 !important;
    }
  }

  &:last-child .checkout__input {
    @media (max-width: $lg) {
      width: calc(100% / 2 - 30px);
      margin: 0 15px 10px;
    }

    @media (max-width: $md) {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }
}

.checkout__input {
  margin-bottom: 10px;
  padding: 10px 15px;

  background-color: #f8f8f8;
  border: 1px solid rgb(211, 211, 211);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 400;
    font-size: $fz-main;
    line-height: 1.2;
    font-family: $ff-main;
    color: #666;
  }

  &--phone {
    font-weight: 700;
    color: $c-main;

    &::placeholder {
      font-weight: 700;
      color: $c-main;
    }
  }
}

.checkout__item {
  margin-bottom: 10px;
  padding: 10px 15px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  background-color: #f8f8f8;
  border: 1px solid rgb(211, 211, 211);
}

.checkout__contacts .checkout__input {
  margin-right: 0;
}


.checkout__comments {
}

.checkout__comments {
  width: 100%;
  margin-bottom: 25px;
  padding: 20px 15px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  border: 1px solid rgb(211, 211, 211);
  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 400;
    font-size: $fz-main;
    line-height: 1.2;
    font-family: $ff-main;
    color: #666;
  }
}

.checkout__agree {
  margin-bottom: 40px;

  @media (max-width: $md) {
    margin-bottom: 30px;
  }
}

.checkout__btns-wrap {
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.checkout__btn {
  min-width: 224px;
  padding: 14px;

  font-size: 18px;

  border-radius: 4px;

  &:first-child {
    margin-right: 15px;

    @media (max-width: $md) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
