.icon__menu,
.icon__close {
  display: none;

  @media (max-width: $xl) {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 10;

    display: block;
    width: 32px;
    height: 29px;

    background-size: 100%;
    cursor: pointer;
  }

  @media (max-width: $lg) {
    top: 5px;
    right: 14px;
  }

  @media (max-width: $md) {
    top: 8px;
    right: 10px;
  }
}

.icon__menu {
  @media (max-width: $xl) {
    background: url("../img/icon/burger.png") no-repeat center center;

    &--active {
      display: none;
    }
  }
}

.icon__close {
  @media (max-width: $xl) {
    right: 25px;

    background: url("../img/icon/close.svg") no-repeat center center;
  }

  @media (max-width: $lg) {
    top: 16px;
    right: 25px;
  }

  @media (max-width: $md) {
    top: 12px;
    right: 5px;
  }
}
