.insert {
  margin-top: 137px;
  &--main {
    position: relative;

    height: 455px;

    background: url("../img/bc/1.png") no-repeat center center;
    background-size: cover;

    @media (max-width: $xl) {
      background-position: 24% 0;
    }

    @media (max-width: $lg) {
      height: 345px;

      background: url("../img/bc/1-tab.png") no-repeat center center;
      background-position: 20% -110px;
      background-size: cover;
    }

    @media (max-width: $md) {
      height: 160px;

      background-position: 0 -297px;
      background-size: auto;
    }

    & .insert__info {
      padding-top: 280px;

      @media (max-width: $xl) {
        padding-top: 268px;
      }

      @media (max-width: $lg) {
        padding-top: 170px;
      }

      @media (max-width: $md) {
        padding-top: 41px;
      }
    }

    & .insert__text {
      margin: 0;

      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      font-family: $ff-main;
      color: $c-white;
      letter-spacing: .025em;

      @media (max-width: $md) {
        font-size: 18px;
      }
    }
  }

  &--second {
    position: relative;

    height: 205px;

    @media (max-width: $xl) {
      height: 190px;
    }

    @media (max-width: $lg) {
      height: 205px;
    }

    @media (max-width: $md) {
      height: 100px;
    }

    & .insert__title {
      padding-top: 115px;

      @media (max-width: $xl) {
        padding-top: 95px;
      }

      @media (max-width: $lg) {
        padding-top: 115px;
      }

      @media (max-width: $md) {
        padding-top: 35px;
      }
    }
  }
}
