.menu {
  &--active {
  }
}

.menu__list {
  display: flex;

  @media (max-width: $xl) {
    flex-direction: column;
    // align-items: flex-start;
  }
}

.menu__item {
  padding-bottom: 15px;

  &:hover .sub-menu {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: $xl) {
    margin-bottom: 15px;
    padding-bottom: 0;
  }
}

.menu__wrap-link-btn {

}

.menu__link {
  font-weight: 700;
  font-size: $fz-main;
  font-family: $ff-main;
  color: #222;
  text-transform: uppercase;

  transition: .3s;

  &:hover {
    color: $c-red;
    text-decoration: none;
  }

  @media (max-width: $xl) {
    position: relative;

    font-size: 24px;
  }

  @media (max-width: $md) {
    font-size: 15px;
  }
}


.btn-chevron {
  display: none;

  @media (max-width: $xl) {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      width: 14px;
      height: 14px;
      transition: .3s;

      .menu__wrap-link-btn__active & {
        transform: rotate(180deg);
      }
    }
  }
}
