.non-page {
  height: auto;

  background: url("../img/bc/bc-empty.jpg") no-repeat;
  background-size: cover;
}

.non-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 730px;
  padding: 50px 0;

  @media (max-width: $xl) {
    max-width: 710px;
  }

  @media (max-width: $md) {
    max-width: 100%;
    padding: 0;
  }
}

.non-page__wrap {
  display: flex;
  padding: 40px 45px;

  background-color: rgba(222, 215, 222, .9);
  border-radius: 20px;

  @media (max-width: $xl) {
    align-items: center;
    padding: 30px 37px 40px 50px;
  }

  @media (max-width: $lg) {
    padding: 40px 30px;
  }

  @media (max-width: $md) {
    width: 100%;
    padding: 30px 10px;

    border-radius: 0;
  }
}

.non-page__info {
  width: calc(50% - 35px);
  margin-right: 35px;

  @media (max-width: $xl) {
    width: calc(50% - 25px);
    margin-right: 25px;
  }

  @media (max-width: $md) {
    width: 100%;
    margin-right: 0;
  }
}

.non-page__title {
  margin-bottom: 25px;

  font-size: 60px;
  color: $c-main;
  text-transform: capitalize;

  @media (max-width: $lg) {
    font-size: 48px;
  }
}

.non-page__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;
}

.non-page__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.non-page__item {
  line-height: 1;
}

.non-page__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-accent;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.non-page__btn {
  display: inline-block;
  min-width: 226px;
  padding: 12px 30px;

  font-size: 18px;

  background-color: $c-accent;
  border-radius: 4px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.non-page__wrap-img {
  display: flex;
  align-items: flex-end;
  width: 50%;

  @media (max-width: $md) {
    display: none;
  }
}
