.phone {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-left: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 19px;
    height: 18px;

    background: url("../img/icon/phone.png") no-repeat;
    background-size: 100%;
    transform: translate(0,-50%);
  }
}

.phone__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  font-family: $ff-main;
  color: $c-white;

  &:hover {
    color: $c-accent;
    text-decoration: none;;
  }
}
