.popular {
  padding-top: 43px;
  padding-bottom: 14px;

  @media (max-width: $xl) {
    padding-bottom: 5px;
  }

  @media (max-width: $lg) {
    padding-top: 35px;
    padding-bottom: 0;
  }

  @media (max-width: $md) {
    padding-top: 24px;
    padding-bottom: 5px;
  }
}

.popular__title {
  margin-bottom: 26px;

  @media (max-width: $md) {
    margin-bottom: 16px;

    font-size: 18px;
  }
}

.popular__wrap {
  display: flex;
}

.popular__wrap.row {
  @media (max-width: $md) {
    margin: 0 -5px !important;
  }
}

.popular__card {
  width: $c-3;
  margin-bottom: 45px;

  @media (max-width: $lg) {
    width: $c-6;
    margin-bottom: 36px;
  }

  @media (max-width: $md) {
    width: calc(50% - 10px);
  }
}

.popular__card.col {
  @media (max-width: $md) {
    margin: 0 5px 30px;
  }
}
