.product {
}

.product__wrap-top {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px !important;

  @media (max-width: $md) {
    flex-direction: column;
    margin: 0 !important;
  }
}

.product__wrap-img {
  display: flex;
  justify-content: center;
  width: calc(100% - 75% - 30px);
  margin: 0 15px;

  border: 1px solid rgb(211, 211, 211);

  @media (max-width: $xl) {
    width: calc(100% - 67% - 30px);
  }

  @media (max-width: $lg) {
    width: calc(100% - 62% - 30px);
  }

  @media (max-width: $md) {
    width: 100%;
    margin: 0 0 15px;
  }
}

.product__wrap-desc {
  width: calc(100% - 25% - 30px);
  margin: 0 15px;

  @media (max-width: $xl) {
    width: calc(100% - 33% - 30px);
  }

  @media (max-width: $lg) {
    width: calc(100% - 38% - 30px);
  }

  @media (max-width: $md) {
    width: 100%;
    margin: 0;
  }
}

.product__title {
  margin-bottom: 20px;

  text-transform: initial;
}

.product__title-module {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  color: #666;

  @media (max-width: $md) {
    font-size: 18px;
  }
}

.product__text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: #666;

  &--direction {
    margin-bottom: 0;

    font-weight: 700;
    color: $c-main;
  }

  &:last-child {
    @media (max-width: $lg) {
      margin-bottom: 0;
    }
  }
}

.product__add-cart {
  display: flex;
  margin-top: 35px;

  @media (max-width: $xl) {
    margin-top: 50px;
  }

  @media (max-width: $lg) {
    margin: 30px 15px 20px;
  }

  @media (max-width: $md) {
    margin: 23px 0 0;
  }
}

.product__count {
  display: flex;
  align-items: center;

  @media (max-width: $lg) {
    margin-right: 25px;
  }

  @media (max-width: $md) {
    margin-right: 7px;
  }
}

.product__count-num {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 10px 42px;
  width: 94px;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  font-family: $ff-main;
  color: #232634;

  background-color: #f8f8f8;
  border: 1px solid rgb(211, 211, 211);

  @media (max-width: $lg) {
    margin-right: 0;
  }
}

.product__count-control {
  display: flex;
  flex-direction: column;
  margin-right: 12px;

  @media (max-width: $lg) {
    margin-right: 0;
  }
}

.product__count-control .active {
  color: #5dbc79;
}

.product__count-btn {
  // padding: 10px 14px;
  width: 44px;
  height: 22px;
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 0;
  font-family: $ff-main;
  color: #cbcbcb;

  background-color: #f8f8f8;
  border: 1px solid rgb(211, 211, 211);

  @media (max-width: $lg) {
    height: 44px;
  }
}


.product__cost {
  display: flex;
  align-items: center;
  margin-right: 48px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  color: #539b68;

  @media (max-width: $xl) {
    margin-right: 39px;
  }

  @media (max-width: $lg) {
    margin-right: 30px;
  }

  @media (max-width: $md) {
    margin-right: 0;

    font-size: 18px;
  }
}

.product__wrap-btn {
  display: block;

  @media (max-width: $md) {
    display: none;
  }
}

.product__btn {
  min-width: 176px;
  padding: 12px 20px;

  font-size: 18px;
}

.product__wrap-bottom {
  margin-top: 43px;
  margin-bottom: 78px;

  @media (max-width: $xl) {
    margin-top: 27px;
    margin-bottom: 53px;
  }

  @media (max-width: $lg) {
    margin-bottom: 43px;
  }

  @media (max-width: $md) {
    margin-top: 27px;
    margin-bottom: 27px;
  }
}

.product__popular {
  padding-top: 73px;
  padding-bottom: 33px;

  background-color: #f8f8f8;

  @media (max-width: $xl) {
    padding-top: 56px;
    padding-bottom: 16px;
  }

  @media (max-width: $lg) {
    padding-top: 56px;
  }

  @media (max-width: $md) {
    padding-top: 37px;
  }
}

.product__popular .popular__title {
  margin-bottom: 36px;

  @media (max-width: $lg) {
    margin-bottom: 50px;
  }

  @media (max-width: $md) {
    margin-bottom: 25px;
  }
}

.product__tabs {
  display: block;

  @media (max-width: $md) {
    display: none;
  }
}


.product__accordion {
  display: none;

  @media (max-width: $md) {
    display: flex;
  }
}
