.social {
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  background-color: $c-accent;
  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    background-color: $c-red;
  }
}
