.tabs {
}

.tabs__box-btn {
  display: flex;
  align-items: flex-start;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.tabs__btn {
  margin-bottom: 23px;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &--active {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.tabs__content {
  display: none;

  &--active {
    display: block;

    color: $c-main;
  }
}
