// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 400;
  font-family: PTSansNarrow;
  font-style: normal;

  font-display: swap;
  src: url(../font/PTSansNarrow/PT_Sans-Narrow-Web-Regular.woff2),
  url(../font/PTSansNarrow/PT_Sans-Narrow-Web-Regular.woff);
}

@font-face {
  font-weight: 700;
  font-family: PTSansNarrow;
  font-style: normal;

  font-display: swap;
  src: url(../font/PTSansNarrow/PT_Sans-Narrow-Web-Bold.woff2),
  url(../font/PTSansNarrow/PT_Sans-Narrow-Web-Bold.woff);
}
