body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  // overflow-x: hidden;

  font-size: $fz-main;
  font-family: $ff-main;
  color: #fff;
}

.main {
  flex-grow: 1;
  margin-top: 185px;

  @media (max-width: $xl) {
    margin-top: 200px;
  }

  @media (max-width: $lg) {
    margin-top: 162px;
  }

  @media (max-width: $md) {
    margin-top: 135px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// input auto-complete change color
:-webkit-autofill {
  box-shadow: 0 0 100px rgba(222, 215, 222, .9) inset;

  -webkit-text-fill-color: currentColor;
}
