.footer {
  padding-top: 72px;
  padding-bottom: 85px;

  background-color: #232634;
}

.footer__container {
  display: flex;
}

.footer__left {
  position: relative;

  display: flex;
  align-items: flex-start;
  padding-right: 81px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 1px;
    height: 100%;

    background-color: $c-accent;
  }
}

.footer__logo {
  margin-right: 42px;
}

.footer__logo img {
  width: 148px;
  height: 116px;
}

.footer__nav .nav__item {
  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.footer__nav .nav__link {
  font-size: 18px;
  line-height: 1;
}

.footer__right {
  display: flex;
  padding-left: 62px;
}

.footer__phone {
  display: flex;
  margin-bottom: 20px;
}

.footer__email {
  margin-bottom: 20px;
}

.footer__address {
  margin-bottom: 20px;
}

.footer__time {
  margin-bottom: 40px;
}

.footer__delivery {
  margin: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-accent;
}


.footer__info-right {
  margin-left: auto;
}

