.btn {
  min-width: 285px;
  padding: 15px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  background-color: $c-accent;

  transition: .3s;

  &:hover {
    background-color: #396b48;

    &--disabled {
      color: #ccc;

      background-color: #f8f8f8;
    }

    & .filter__action-btn--disabled {
      opacity: .5;
    }
  }

  &--accent {
    background-color: $c-red;

    &:hover {
      background-color: #ac2121;
    }

    @media (max-width: $xl) {
      background-color: $c-accent;

      &:hover {
        background-color: #396b48;
      }
    }
  }

  &--disabled {
    color: #ccc;

    background-color: #f8f8f8;
  }
}


.btn-chevron {
  display: none;

  @media (max-width: $xl) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 8px;

    img {
      width: 14px;
      height: 14px;

      transition: .3s;

      .active & {
        transform: rotate(180deg);
      }
    }
  }
}
