.btn {
  min-width: 285px;
  padding: 15px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  background-color: $c-accent;

  transition: .3s;

  &:hover {
    background-color: #396b48;
  }

  &--accent {
    background-color: $c-red;

    &:hover {
      background-color: #ac2121;
    }
  }
}
